apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "elasti.fullname" . }}-resolver-additional-access
  labels:
    {{- include "elasti-resolver.commonLabels" . | nindent 4 }}
  annotations:
    {{- include "elasti-resolver.commonAnnotations" . | nindent 4 }}
rules:
- apiGroups: ["discovery.k8s.io"]
  resources: ["endpointslices"]
  verbs: ["list"]
