{{- if .Values.telemetry.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "elasti.fullname" . }}-telemetry-init
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "elasti.labels" (dict "context" . "name" "telemetry-init") | nindent 4 }}
    app.kubernetes.io/component: telemetry-init
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-10"
    "helm.sh/hook-delete-policy": before-hook-creation
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "elasti.fullname" . }}-telemetry-init
subjects:
  - kind: ServiceAccount
    name: {{ include "elasti.fullname" . }}-telemetry-init
    namespace: {{ .Release.Namespace }}
{{- end }}
